body {
    background-color: #f4f6fc;
    margin: 0px;
}

/* nav bar */

.container-row{
    display: flex;
}
.container-column{
    direction: column;
}
#logo-pos{
    margin: 50px 80px 90px 150px;
}
.nav{
    display: flex;
    justify-content: space-around;
}
.nav ul li {
    background-color: #f4f6fc;
    display: inline-flex;
    text-shadow: 0.1em 0.1em 0.2em #b9b9b9;
    margin: 0px 20px;
}
nav ul li a {
    text-decoration: none;
    color: #072ac8;
}
ul {
    display: inline;
    margin-top: 50px;
    margin-left: 100px;
}
#header3{
    margin-top: 34px;
    margin-left: 100px;
}


/* header */

#big-letters{
    font-size: 30px;
    line-height: 20%;
}
#hero {
    max-width: 450px;
    max-height: 480px;
    padding-left: 100px;
}

#card1 {
    max-width: 300px;
    max-height: 200px;
    position: absolute;
    padding-left: 100px;
}

#card2 {
    max-width: 300px;
    max-height: 200px;
    position: absolute;
    padding-top: 320px;
    padding-left: 350px;
}

#click1 {
    box-shadow: 0.2em 0.5em 0.5em #b9b9b9;
    color: white;
    background: #072AC8;
    width: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    text-align: center;
    height: 52px;
}

#p1 {
    color: grey;
}

#header-info {
    padding-top: 2em;
    padding-left: 10em;
}

#click2 {
    color: white;
    background: #072AC8;
    width: 150px;
    border: none;
    text-align: center;
    height: 52px;
}

#click3 {
    color: grey;
    background: none;
    width: 150px;
    border: none;
    text-align: center;
    height: 52px;
}


/* clients logos */

#client-section {
    display: flex;
    justify-content: space-between;
    margin: 80px 150px;
}

#text-projects {
    margin-left: 228px;
    padding-top: 30px;
}

#recent-projects {
    text-align: center;
    justify-content: space-around;
}

#image1 {
    width: 240px;
    height: 200px;
}

#image2 {
    width: 240px;
    height: 200px;
}

#image3 {
    width: 240px;
    height: 200px;
}

#white-square1, #white-square2, #white-square3 {
    background-color: white;
    margin-top: -18px;
    margin-left: 71px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 211px;
    text-decoration: none;
}

/* ORBIT */

#orbit-layout {
    margin-top: 80px;
    text-align: center;
    background-color: #292E47;
    width: 1000px;
    height: 500px;
    align-items: center;
}

/*#orbit-image{
    width: 500px;
    height: auto;
    padding-bottom: ;
}*/
#text-testimonial {
    padding-top: 0.1em;
    text-align: center;
    color: white;
}

#p2 {
    color: #FFC600;
}

#p3 {
    color: #A2D6F9;
    font-size: 12px;
}

#p4 {
    text-decoration: none;
    font-size: 10px;
    color: white;
}

#emoji1,
#emoji2,
#emoji3,
#emoji4 {
    width: 100px;
    height: auto;
}

#emoji1 {
    padding-right: 700px;
    padding-top: 70px;
}

#emoji2 {
    /*position: absolute;*/
    padding-right: 400px;
    padding-top: 70px;
}

#emoji3 {
    padding-right: 700px;
}

#profile {
    width: 60px;
    height: auto;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}

/* OUR SERVICES */
#text-services{
    margin-top: 150px;
    margin-left: 150px;
}

#our-services {
    display: flex;
    justify-content: space-around;
}

.box-white {
    
    margin-top: 30px;
    background-color: white;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 250px;
    text-decoration: none;
}

#box2 {
    margin-left: 30px;
    margin-right: 30px;
}

/* NEWSLETTER */
#newsletter {
    display: block;
}

#yellow-square {
    background-color: #FFC600;
    text-align: center;
}

@media (max-width: 600px) {
    #click1{
        display: none;
    }
    #client-section{
        display: flex;
        justify-items: space-between;
        margin: 80px
    }
}