body {
    background-color: #f4f6fc;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", "sans-serif";
}

main {
    margin: 0px 30px;
}


/* header */


#logo-pos {
    display: inline-flex;
}

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 0px 40px;
    align-items: center;
}

.navbar img {
    width: 60px;
}

.nav ul li {
    background-color: #f4f6fc;
    display: inline-flex;
    text-shadow: 0.1em 0.1em 0.2em #b9b9b9;
    padding-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #072ac8;
}

#click1 {
    box-shadow: 0.2em 0.5em 0.5em #b9b9b9;
    color: white;
    background: #072AC8;
    padding: 10px 20px;
    border: none;
    text-align: center;
    cursor: pointer;
}


/* main info */


.section-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
}

#big-letters {
    font-size: 30px;
}

#hero {
    width: 450px;
    height: 450px;
}

#article1 {
    position: relative;
}

#card1 {
    position: absolute;
    width: 220px;
    top: -30px;
    left: 0px;
}

#card2 {
    position: absolute;
    width: 220px;
    bottom: -60px;
    right: -30px;
}

#p1 {
    color: #6B708D;
}

#click2 {
    color: white;
    background: #072AC8;
    padding: 10px 20px;
    border: none;
    text-align: center;
    cursor: pointer;
}

#click3 {
    color: #6B708D;
    background: none;
    padding: 10px 20px;
    border: none;
    text-align: center;
    cursor: pointer;
}


/* clients logos */


#client-section {
    margin: 100px 0px;
    display: flex;
    justify-content: space-evenly;
    filter: grayscale(100%);
}


/* projects */


.projects-container {
    display: flex;
    justify-content: center;
}

.projects-container article {
    padding-right: 40px;
}

#text-projects {
    margin-left: 140px;
}

#image1,
#image2,
#image3 {
    width: 260px;
    height: 200px;
}

#white-square1,
#white-square2,
#white-square3 {
    display: block;
    background-color: white;
    margin-left: 30px;
    width: 260px;
    text-align: center;
    padding-bottom: 20px;
}

#link {
    text-decoration: none;
}


/* ORBIT */


.orbit-layout {
    margin-top: 100px;
    display: flex;
    text-align: center;
    background-color: #292E47;
    background-image: url(testimonial-section/orbit.png);
}

#orbit-layout2 {
    position: relative;
    width: 100%;
    padding: 50px 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

#text-testimonial {
    padding-bottom: 30px;
    color: white;
    font-size: 28px;
}

#p2 {
    color: #FFC600;
}

#p3 {
    position: absolute;
    color: #A2D6F9;
    font-size: 12px;
    left: 580px;
    bottom: 20px;
}

#p4 {
    position: absolute;
    text-decoration: none;
    font-size: 10px;
    color: white;
    left: 580px;
    bottom: 20px;
}

#emoji1,
#emoji2,
#emoji3,
#emoji4 {
    width: 100px;
    height: auto;
    display: block;
    position: absolute;
}

#emoji1 {
    left: 60px;
    top: 30px;
}

#emoji2 {
    right: 60px;
    top: 30px;
}

#emoji3 {
    bottom: 0px;
    left: 60px;
}

#emoji4 {
    bottom: 0px;
    right: 60px;
}

#profile-text {
    margin-top: 60px;
}

#profile {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 150px;
    left: 530px;
}


/* OUR SERVICES */


#space {
    margin-top: 100px;
}

.services {
    display: flex;
    justify-content: center;
}

#text-services {
    margin-left: 165px;
}

#box-white1,
#box-white2,
#box-white3 {
    display: block;
    margin-top: 30px;
    margin-left: 30px;
    background-color: white;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 250px;
}
#icons-background {
    background-color: #ECF7FF;
    width: 70px;
    height: auto;
    border-radius: 50%;
    object-fit: scale-down;
}

/* NEWSLETTER */


.newsletter {
    background-color: #FFC600;
    margin-top: 100px;
    padding: 100px 0px;
    text-align: center;
}
#newsletter-layout{
        width: 100%;
}
#questions-title{
    font-size: 30px;
}
.boxes{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
#box-mail{
    display: inline-flex;
    background-color: white;
    padding-left: 20px;
    width: 160px;
    height: 80px;
}
#box-mail2{
    display: inline-flex;
}
#news-icon{
    width: 25px;
    padding-right: 10px;
}
#email{
    border-style: none;
}
#button-news{
    color: white;
    background: #072AC8;
    border: none;
    text-align: center;
    width: 120px;
    height: 80px;
    cursor: pointer;
}


/* FOOTER */

.foot{
    display: flex;
    justify-content: space-around;
    padding: 0px 40px;
    align-items: center;
}
.foot ul li {
    display: inline-flex;
    padding-right: 30px;
}
.foot ul li a {
    text-decoration: none;
    color: #072ac8;
}
#logo-foot, #adress{
    display: block;
}



/* !!!!!!PROJECTS PAGE!!!!!!!!!!! */

.projectPage {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    padding: 0 30px;
}
.projectPage > h1 {
    color: #292e47;
    font-size: 2.5em;
    line-height: 68px;
    margin-top: 20px;
}
.projectPage > h1::first-letter {
    text-transform: capitalize;
}
.projectPage_type {
    margin: 30px 0 40px;
    display: flex;
    flex-direction: column;
}
.projectPage_type > h3 {
    font-size: 1.25em;
    margin-bottom: 20px;
    line-height: 26px;
    color: #6b708d;
}

.projectPage_type > div {
    color: #292e47;
    line-height: 20px;
    font-size: 1.25em;
}
.projectDate {
    color: #6b708d;
}

.image_wrapper {
    position: relative;
}
.projectPage_img {
    width: 100%;
    height: 444px;
    /* object-fit: cover; */
    /* vertical-align: middle; */
    display: inline-block;
}

.projectPage_imgShadow {
    position: absolute;
    left: 0%;
    top: 0%;

    z-index: -1;
    width: 100%;
    height: 444px;
    opacity: 0.4;
    filter: saturate(200%) blur(20px);
}

.project_textDescription {
    color: #292e47;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    margin: 80px 0 20px;
    padding: 0;
}
.project_textDescription::first-letter {
    text-transform: capitalize;
}
.projectPage_img {
    width: 100%;
    height: 444px;
    object-fit: cover;
    vertical-align: middle;
    display: inline-block;
}
.project9{
    margin-top: 100px;
}


/*     !!!! CONTACT US PAGE   !!!!!!!!!!!!!!                */

.contacta{
    padding: 0;
    margin: 80px 0 80px;
}
.contact_form{
    display: grid;
    max-width: 100%;
    gap: 30px;
    grid-template-columns: auto;
    grid-template-areas:
        "name"
        "email"
        "phone"
        "comment"
        "btn";
}
.name {
    grid-area: name;
}
.email {
    grid-area: email;
}
.phone {
    grid-area: phone;
}
.message {
    grid-area: message;
}
.label_input_wraper {
    display: flex;
    flex-direction: column;
}
.contact-title {
    margin-bottom: 15px;
    color: #6b708d;
    font-weight: 400;
}
.contact_text-field {
    width: 100%;
    height: 70px;
    padding-left: 20px;
    border: none;
    background-color: rgba(107, 112, 141, 0.1);
}
.contact_text-field:focus {
    outline: none;
    border: 1px solid #f2f4fc;
    box-shadow: 0 0 5px #6b708d;
}
.textTarea_field {
    height: 200px;
    resize: none;
    padding-top: 20px;
}
.textTarea_field::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.button-c {
    background-color: #072ac8;
    height: 80px;
    padding: 15px 30px;
    font-size: 1.1em;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    grid-area: btn;
}
.formDome {
    color: green;
    margin-top: 20px;
    font-size: 1.5em;
}
.formFail {
    color: red;
    font-size: 1.5em;
    margin-top: 20px;
    display: none;
}


/* RESPONSIVE */

@media (max-width: 600px) {
    #click1 {
        display: none;
    }
    .navbar {
        padding: 0px 20px;
    }
    .nav ul li {
        padding-right: 20px;
    }

    /* MAIN INFO */

    .section-info {
        display: block;
        flex-direction: column;
        text-align: center;
        margin-top: 25px;
    }
    #header-info2 {
        margin-top: 25px;
    }
    #hero {
        width: 280px;
        height: 280px;
    }
    #card1 {
        position: absolute;
        width: 120px;
        top: 10px;
        left: 40px;
    }
    #card2 {
        position: absolute;
        width: 120px;
        bottom: -20px;
        right: 50px;
    }

    /* CLIENTS */

    #client-section {
        margin-top: 50px 30px;
        flex-wrap: wrap;
    }
    #logos {
        width: 40px;
    }

    /* recent projects */

    .projects {
        margin: 50px 0px;
    }
    .projects-container {
        display: block;
    }
    #text-projects {
        margin-left: 30px;
    }
    #white-square1,
    #white-square2,
    #white-square3 {
        margin-bottom: 20px;
    }

    /* ORBIT */

    .orbit-layout {
        display: inline-flex;
        text-align: center;
        margin-top: 30px;
    }
    #orbit-layout2 {
        position: relative;
    }
    #text-testimonial {
        top: 5px;
        padding-left: 0px;
        color: white;
        font-size: 20px;
    }
    #p2 {
        color: #FFC600;
        padding-left: 0px;
    }
    #p3 {
        position: absolute;
        color: #A2D6F9;
        font-size: 12px;
        padding-left: 0px;
        left: 145px;
    }
    #p4 {
        position: absolute;
        text-decoration: none;
        font-size: 10px;
        color: white;
        left: 145px;
    }
    #profile {
        left: 100px;
    }
    #emoji1,
    #emoji2,
    #emoji3,
    #emoji4 {
        display: none;
    }


    /* SERVICES */

    #space {
        margin-top: 50px;
    }
    #text-services {
        margin-left: 30px;
    }
    .services {
        display: block;
    }


    /* NEWSLETTER */

    /* FOOTER */

    #big-image{
        width: 400px;
        height: 250px;  
    }
    #date-completed{
        display: inline-flex;
        padding-right: none;
    }
}

/* CONTACT PAGE!!!!!!--------------------------------------  */

.contacta {
    padding: 0 30px;
    margin: 80px 0 100px;
}